{:resourceType :Transaction
 :items
 [{:method  :PUT
   :url     "/Resource"
   :body    {:resourceType  :Resource
             :id            "route"
             :desc          "REST route"
             :type          "Route"
             :routes        "/List?of=Route&_id=route"}}
  {:method  :POST
   :url     "/Route"
   :body    {:resourceType  :Route
             :method        :POST
             :path          [{:name     "resourceType"
                              :value    "Route"}]
             :name          "create-route"
             :code          "/Coding/core-handlers?code=create"
             :resource      "/Resource/route"}}
  {:method  :POST
   :url     "/Route"
   :body    {:resourceType  :Route
             :method        :GET
             :path          [{:name     "resourceType"
                              :value    "Route"}
                             {:name     "id"}]
             :name          "read-route"
             :code          "/Coding/core-handlers?code=read"
             :resource      "/Resource/route"}}
  {:method  :POST
   :url     "/Route"
   :body    {:resourceType  :Route
             :method        :PUT
             :path          [{:name     "resourceType"
                              :value    "Route"}
                             {:name     "id"}]
             :name          "upsert-route"
             :code          "/Coding/core-handlers?code=upsert"
             :resource      "/Resource/route"}}
  {:method  :POST
   :url     "/Route"
   :body    {:resourceType  :Route
             :method        :DELETE
             :path          [{:name     "resourceType"
                              :value    "Route"}
                             {:name     "id"}]
             :name          "delete-route"
             :code          "/Coding/core-handlers?code=delete"
             :resource      "/Resource/route"}}]}
