{:resourceType :Transaction
 :items
 [{:method  :POST
   :url     "/Route"
   :body    {:resourceType  :Route
             :method        :POST
             :path          [{:name     "resourceType"
                              :value    "Route"}]
             :name          :create-route
             :code          :/Coding/core-handlers?code=create
             :resource      "/Resource/route"}}
  {:method  :POST
   :url     "/Route"
   :body    {:resourceType  :Route
             :method        :GET
             :path          [{:name     "resourceType"
                              :value    "Route"}
                             {:name     "id"}]
             :name          :read-route
             :code          /Coding/core-handlers?code=read
             :resource      "/Resource/route"}}
  {:method  :POST
   :url     "/Route"
   :body    {:resourceType  :Route
             :method        :PUT
             :path          [{:name     "resourceType"
                              :value    "Route"}
                             {:name     "id"}]
             :name          :upsert-route
             :code          :/Coding/core-handlers?code=upsert
             :resource      "/Resource/route"}}
  {:method  :POST
   :url     "/Route"
   :body    {:resourceType  :Route
             :method        :DELETE
             :path          [{:name     "resourceType"
                              :value    "Route"}
                             {:name     "id"}]
             :name          :delete-route
             :code          :/Coding/core-handlers?code=delete
             :resource      "/Resource/route"}}
  {:method  :POST
   :url     "/QueryParam"
   :body    {:resourceType  :QueryParam
             :code          :/Coding/core-query-params?code=keyword
             :desc          "Filter Route by method"
             :name          :method
             :path          [{:name     "method"}]
             :type          :Route}}
  {:method  :POST
   :url     "/QueryParam"
   :body    {:resourceType  :QueryParam
             :code          :/Coding/core-query-params?code=keyword
             :desc          "Filter Route by name"
             :name          :name
             :path          [{:name     "name"}]
             :type          :Route}}
  {:method  :POST
   :url     "/QueryParam"
   :body    {:resourceType  :QueryParam
             :code          :/Coding/core-query-params?code=keyword
             :desc          "Filter Route by res-type"
             :name          :res-type
             :path          [{:name         "path"
                              :collection   true
                              :filter       {:name  "resourceType"}}
                             {:name         "value"}]
             :type          :Route}}]}
